<div class="hero-container">
  <div class="hero-text">
    <h4>Title container</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, deleniti.
      Laboriosam, voluptate aperiam! Sapiente omnis explicabo odit, provident
      labore saepe, temporibus enim ad illum architecto quidem animi? Quo, quos
      non.
    </p>
    <button matRipple class="button-gold">$ 500 MXN <br />Comprar ahora</button>
  </div>
  <div class="hero-background"></div>
  <div class="hero-product-item">
    <img src="assets/imgs/botle.png" alt="" />
  </div>
</div>
<div class="separator"></div>
<section>
  <div class="section-title">
    <h3>Lorem ipsum</h3>
  </div>
  <div class="section-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur saepe
      recusandae molestiae ullam error ea quibusdam odit ipsam optio in sed
      doloribus officiis eveniet dicta libero atque expedita, repellendus
      molestias?
    </p>
  </div>
</section>
